<div class="container">
  <div class="header-section">
    <div class="header">Add Users To Repository Confirmation.</div>
    <h3>Confirm the user to add to the repository.</h3>
  </div>

  <div class="table-body-section">
    <table class="user-details-table">
      <thead>
        <tr>
          <th>Repository ID</th>
          <th>User ID</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Control</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of row">
          <td class="project-id">{{r.projectId.name}}</td>
          <td>{{r.userId}}</td>
          <td>Nirmith Akash</td>
          <td>{{r.email}}</td>
          <td><p class="status status-valid-status">Valid</p></td>
          <td><button class="control-button" (click)="deleteItem(r)">Remove</button></td>
        </tr>
      </tbody>
    </table>
    <div class="submit-section">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> Confirm.
      <button class="submit-btn" name="submit" id="submit" (click)="SaveDataInDataBase(row)">Submit</button>
    </div>
  </div>

</div>
