<div class="container">
  <div class="header-section">
    <div class="header">Search Users and Projects</div>
    <h3>Select users to add into the repository.</h3>
  </div>

  <div class="input-body-section">
    <div class="project-search">
      <label for="project">Search Project :</label>
      <input
        class="input-field"
        id="project"
        name="project"
        placeholder="Search Project..."
        type="text"
      >
      </div>
    <div class="user-search">
      <label for="user">Search Project :</label>
      <input
        class="input-field"
        id="user"
        name="user"
        placeholder="Search User..."
        type="text"
      >
    </div>

    <div class="select-btn-section">
      <button class="select-btn">Select</button>
    </div>
  </div>
</div>
