<div class="container">
  <div class="header-section">
    <div class="header">Search Users and Projects</div>
    <h3>Select users to add into the repository.</h3>
  </div>

  <div class="input-body-section">

    <div class="project-search">
      <span>Select Project: </span>
      <ng-autocomplete
        [data]= "data$ | async"
        [searchKeyword]="keyword"
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        id="project"
        name="project"
        placeholder="Search Project..."
        (inputFocused)='onFocused($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
      </div>


    <div class="user-search">
      <span>Select User: </span>
      <ng-autocomplete
        [data]= "data$ | async"
        [searchKeyword]="keyword"
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        id="user"
        name="user"
        placeholder="Search User..."
        (inputFocused)='onFocused($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
      >
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>

    <div class="select-btn-section">
      <button class="select-btn">Select</button>
    </div>
  </div>
</div>
