$color-invalid-font: #c62828;
@mixin header{
  color: black;
  font-weight: bolder;
  font-family: "Lato";
  font-size: 22px;
}

.header {
  @include header
}

.status {
  border-radius: 8px;
  background-color: #ffcdd2;
  padding: 0.9rem 3rem;
  text-align: center;
  font-weight: bold;
  color: $color-invalid-font;
}

.status-font {
  font-weight: bold;
  font-family: Lato;
}
